/* Add your styles here */
#heading{
    padding-top: 200px;
    padding-left: 80px;
}

#temperatureInput{
    position: absolute;
    left: 320px;
    top: 200px;
}

#progressBar{
    position: absolute;
    left: 500px;
}
