/* Add your styles here */
#heading{
    padding-top: 200px;
    padding-left: 80px;
}

#temperatureInput{
    position: absolute;
    left: 320px;
    top: 200px;
}

.container{
    width: 30%;
    position: absolute;
    right: 280px;
    top: 260px;
}